
<div class="page-width">
  <div class="brand-collection__header">
    <h2>{{}}</h2>
  </div>
</div>


{% schema %}
  {
    "name": "Brand List",
    "settings": [
      
    ],
    "blocks": [
      {
        "type": "brand_card",
        "name": "Brand Card",
        "settings": [
          {
            "type": "image_picker",
            "id": "banner_image",
            "label": "Banner Image"
          }, {
            "type": "richtext",
            "id": "title",
            "label": "Collection Title",
            "default": "<p>Collection</p>"
          }, {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Brand List",
        "category": "Section"
      }
    ]
  }
{% endschema %}