<div class="page-width">
  <div class="container__collection">
    <div class="container__collection-heading">
      <h2 class="container__collection-heading">{{ section.settings.heading }}</h2>
    </div>
    <div class="slider"> 
      <div class="container__collection-card slide">
        <div class="container__product-image">
          <img src="{{ section.settings.product_image |  img_url: 'medium' }}" class="product-image">
        </div>
        <div class="container__product-title">
          <h2>{{ section.settings.title }}</h2>
        </div>
        <div>
          <button class="collection-btn">{{ section.settings.button_text }}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<style>

  .container__collection {
    background-color: #F3F7F7;
    padding: 2rem;
  }

  .container__collection-heading {
    font-size: 37px;
    color: #074542;
    font-weight: 600;
  }

  .container__collection-card {
    width: 400px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
  }

  .container__product-image {
    display: flex;
    justify-content: center;
    align-items: center;
   
    object-fit: contain;

  }

  .product-image {
    height: 380px;
  }

  .container__product-title h2 {
    font-size: 36px;
    font-weight: 600;
    color: #364241;
    text-align: center;
  }

  .collection-btn {
    background: white;
    font-size: 16px;
    padding: 0.5rem 2rem;
    border: 1px solid #074542;
    color: #074542;
    border-radius: 29px;
  }


</style>

{%  schema  %} 
  {
    "name": "Brand Collection",
    "settings": [
      {
        "type": "richtext",
        "id": "heading",
        "label": "Heading",
        "default": "<p>Rich text</p>"
      },
      {
        "type": "image_picker",
        "id": "product_image",
        "label": "Product Image"
      },
      {
        "type": "inline_richtext",
        "id": "title",
        "label": "Brand Name",
        "default": "Brand"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text",
        "default": "Button"
      }
    ],
    "presets": [
      {
        "name": "Brand Collection",
        "category": "Section"
      }
    ]
  }
{% endschema %} 