{%  schema  %} 
  {
    "name": "Brand Collection",
    "settings": [
      {
        "type": "richtext",
        "id": "heading",
        "label": "Heading",
        "default": "<p>Rich text</p>"
      }
    ]
  }
{% endschema %} 