<div class="page-width">
  <div class="brand-collection__header">
    <h2>{{ section.settings.section_heading }}</h2>
  </div>

  <div class="brand-collection__wrapper">
    {% for block in settings.blocks %}
      <div>
        
      </div>
    {% endfor %}
  </div>
</div>


{% schema %}
  {
    "name": "Brand List",
    "settings": [
      {
        "type": "inline_richtext",
        "id": "section_heading",
        "label": "Section Heading",
        "default": "Brand"
      }

    ],
    "blocks": [
      {
        "type": "brand_card",
        "name": "Brand Card",
        "settings": [
          {
            "type": "image_picker",
            "id": "banner_image",
            "label": "Banner Image"
          }, {
            "type": "richtext",
            "id": "title",
            "label": "Collection Title",
            "default": "<p>Collection</p>"
          }, {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Brand List",
        "category": "Section"
      }
    ]
  }
{% endschema %}