<div class="page-width">
  <div class="brand-collection__header">
    <h2>{{ section.settings.section_heading }}</h2>
  </div>

  <div class="brand-collection__wrapper">
    {% for block in section.blocks %}

      <a href="{{ block.settings.collection.url }}">
        <div class="brand-card__wrapper">
          <div class="brand-logo__wrapper">
            <img src="{{ block.settings.brand_image |  img_url: 'medium' }}" class="brand-logo">
          </div>
          <div class="brand-title__wrapper">
            {{ block.settings.title }}
            {% render 'icon-arrow' %}
          </div>
        </div>
      </a>

    {% endfor %}
  </div>
</div>


<style>

  .brand-collection__header {
    font-size: 36px;
    font-weight: 600;
  }

  .brand-collection__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .brand-collection__wrapper a {
    text-decoration: none;
    color: rgb(var(--color-foreground));
  }


  .brand-logo__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .brand-logo {
    height: 70px;
  }

  .brand-title__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .brand-title__wrapper p {
    margin: 0;
    font-size: 24px;
    font-weight: 500;
  }

  .brand-title__wrapper svg {
    width: 20px;
  }

  .brand-title__wrapper svg path {
    fill: rgb(var(--color-foreground));
  }

  @media screen and (max-width: 769px){
    .brand-collection__wrapper {
      flex-direction: column;
    }

    .brand-title__wrapper p {
    
    font-size: 20px;
    
  }

  .brand-title__wrapper svg {
    width: 16px;
  }
  .brand-title__wrapper {
    display: block;
    ali;
  }
    
  }

</style>


{% schema %}
  {
    "name": "Brand List",
    "settings": [
      {
        "type": "inline_richtext",
        "id": "section_heading",
        "label": "Section Heading",
        "default": "Brand"
      }

    ],
    "blocks": [
      {
        "type": "brand_card",
        "name": "Brand Card",
        "settings": [
          {
            "type": "image_picker",
            "id": "brand_image",
            "label": "Brand Image"
          }, {
            "type": "richtext",
            "id": "title",
            "label": "Collection Title",
            "default": "<p>Collection</p>"
          }, {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Brand List",
        "category": "Section"
      }
    ]
  }
{% endschema %}