<div class="page-width">
  <div class="container__collection">
    <div class="container__collection-heading">
      <h2>{{ section.settings.heading }}</h2>
    </div>
  </div>
</div>

<style>

  

</style>

{%  schema  %} 
  {
    "name": "Brand Collection",
    "settings": [
      {
        "type": "richtext",
        "id": "heading",
        "label": "Heading",
        "default": "<p>Rich text</p>"
      },
      {
        "type": "image_picker",
        "id": "product_image",
        "label": "Product Image"
      },
      {
        "type": "inline_richtext",
        "id": "title",
        "label": "Brand Name",
        "default": "Brand"
      }
    ],
    "presets": [
      {
        "name": "Brand Collection",
        "category": "Section"
      }
    ]
  }
{% endschema %} 