{{ 'collection-card.css' |  asset_url |  stylesheet_tag }}

<div class="section__collection--wrapper">
  <div class="collection__card--wrapper">
    <div class="collection__card--img-wrapper">
       {{section.settings.banner_image |  image_url: width: 275 |  image_tag }} 
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Category List",
  "settings": [
      {
        "type": "image_picker",
        "id": "banner_image",
        "label": "Banner Image"
      },
      {
        "type": "richtext",
        "id": "title",
        "label": "Collection Title",
        "default": "<p>Collection</p>"
      },
      {
        "type": "url",
        "id": "collection_link",
        "label": "link"
      }    
    ],
    "presets": [
      {
        "name": "Category List",
        "category": "Section"
      }
    ]
}
{% endschema %} 