{{ 'collection-card.css' |  asset_url |  stylesheet_tag }}

<div class="section__collection--wrapper">
  <div class="collection__card--wrapper">
    <div class="collection__card--img-wrapper">
      {{ section.settings.banner_image | image_url: width: 275 | image_tag: sizes: sizes, widths: '200,300,400,500,600,700,800,900,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000,3200', class: "collection__card-img" }}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Category List",
  "settings": [
      {
        "type": "image_picker",
        "id": "banner_image",
        "label": "Banner Image"
      },
      {
        "type": "richtext",
        "id": "title",
        "label": "Collection Title",
        "default": "<p>Collection</p>"
      },
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name": "Category List",
        "category": "Section"
      }
    ]
}
{% endschema %} 