

<div class="container__feature-collection">
  <div class="container__feature-collection--title-wrapper">
    <h2 class="container__feature-collection--title">Featured Products</h2>
  </div>
</div>


{%  schema  %} 
  {
    "name": "New Featured Collection"
  }
{% endschema %} 


