<header class="container__nav-bar">
  <a class="menu-drawer-btn">{% render 'icon-hamburger' %}</a>
  <a href="/" class="header__logo">
    <img src="{{ section.settings.brand_logo | im }}" alt="{{ site.name }}">
  </a>
</header>

<style>
  .container__nav-bar {
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu-drawer-btn svg {
    width: 16px;
    height: 16px;
  }
</style>

{% schema %}
{
  "name": "Header",
  "class": "section-header",
  "settings": [
      {
        "type": "image_picker",
        "id": "brand_logo",
        "label": "Header Logo"
      }
    ]
}
{% endschema %}