<header class="header">
  <a class="menu-drawer-btn">{% render 'icon-hamburger' %}</a>
</header>

<style>
  
</style>

{% schema %}
{
  "name": "Header",
  "class": "section-header",
  "settings": [
      {
        "type": "image_picker",
        "id": "brand_logo",
        "label": "Header Logo"
      }
    ]
}
{% endschema %}