.section__collection--wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 2rem;
}

.collection__card--wrapper {
  /* width: 275px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.collection__card--img-wrapper {
  width: 275px;
  height: 275px; 
  border-radius: 50%;
  background-color: #3aafa9;
  overflow: hidden;
}

/* .collection__card--img {
  width: 275px;
  height: 275px;
} */

.collection__card--title {
  text-decoration: none;
  font-size: 37px;
  font-weight: 700;
  color: black;
}
