.section__collection--wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 2rem;
}

.collection__card--wrapper {
  width: 275px;
}

.collection__card--img